{{#section 'title'}}
  Kết quả
{{/section}}

{{#section 'css'}}
    <style>
        #resultHolder {
            display: block !important;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        function goHome() {
            window.location = '/home';
        }
    </script>
{{/section}}

<div id="resultHolder">
    <div class="resultContent fitImg">
        
        <div class='itemWinnerCup'><div class="fontShare resizeFont" style="margin-top: -10px; margin-bottom: 30px;"
        data-fontSize="30" data-lineHeight="30">{{session.user}}</div><img src="/assets/item_cup.png" /></div><br>
        <div id='resultScore' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">Điểm: {{session.score}}</div><br>
        <div id='result' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">
            <div class="right">Đúng {{session.right}}</div>
            <div class="wrong">Sai {{session.wrong}}</div>
        </div><br><br>
        <div id='rank' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">Hạng: {{rank}}</div>
        <div class="option singleOption">
            <ul>
                <li id="buttonReplay" class="buttonClick fitImg" onclick="goHome()"><img alt="Replay" src="/assets/button_replay.png" /></li>
                <li id="buttonSave" class="buttonClick fitImg"><img alt="Replay" src="/assets/button_save.png" /></li>
                <li id="buttonScore" class="buttonClick fitImg"><img alt="Replay" src="/assets/button_score.png" /></li>
            </ul>
        </div>
    </div>
</div>