{{!-- {{#section 'title'}}
  Kết quả
{{/section}}

{{#section 'css'}}
  
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        function goHome() {
            window.location = '/home';
        }
        function showMess() {
            swal({
                type: 'error',
                title: 'Oops...',
                text: 'Chức năng này chưa được cài đặt'                
            })
        }
    </script>
{{/section}}
<div class="row">
    <div class="col-lg-1">
        <br><br><br><br>
        <input type="image" src="/images/Icons/back.png" width="100px" height="100px" 
            onclick="goHome()" title="Trang Chủ">
    </div>
    <div class="col-lg-3">
        {{#if winner}}
            <img src="/images/Boders/Winner.png">
        {{else}}
            <img src="/images/Boders/Loser.png">
        {{/if}}
    </div>
</div>
<br><br><br>
<div style="text-align:center">
    <input type="image" src="https://i.imgur.com/7DArY2w.png" title="Đóng góp câu hỏi" onclick="showMess()">
</div>
 --}}


{{#section 'title'}}
  Kết quả Đối kháng
{{/section}}

{{#section 'css'}}
    <style>
        #resultHolder {
            display: block !important;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        function goHome() {
            window.location = '/home';
        }
    </script>
{{/section}}

<div id="resultHolder">
    <div class="resultContent fitImg  col-md-6">
        
        <div class='itemWinnerCup'><div class="fontShare resizeFont" style="margin-top: -10px; margin-bottom: 30px;"
        data-fontSize="30" data-lineHeight="30">{{session.user}}</div><img src="/assets/item_cup.png" /></div><br>
        <div id='resultScore' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">Điểm: {{session.score}}</div><br>
        <div id='result' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">
            <div class="right">Đúng {{session.right}}</div>
            <div class="wrong">Sai {{session.wrong}}</div>
        </div><br><br>
        <div id='rank' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">Hạng: {{rank}}</div>
        
    </div>

    <div class="resultContent fitImg col-md-6">
        
        <div class='itemWinnerCup'><div class="fontShare resizeFont" style="margin-top: -10px; margin-bottom: 30px;"
        data-fontSize="30" data-lineHeight="30">annabella</div><img src="/assets/item_cup.png" /></div><br>
        <div id='resultScore' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">Điểm: 10</div><br>
        <div id='result' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">
            <div class="right">Đúng 5</div>
            <div class="wrong">Sai 2</div>
        </div><br><br>
        <div id='rank' class="fontResultScore fontScore resizeFont" data-fontSize="50" data-lineHeight="50">Hạng: {{rank}}</div>
        {{!-- <div class="option singleOption">
            <ul>
                <li id="buttonReplay" class="buttonClick fitImg" onclick="goHome()"><img alt="Replay" src="/assets/button_replay.png" /></li>
                <li id="buttonSave" class="buttonClick fitImg"><img alt="Replay" src="/assets/button_save.png" /></li>
                <li id="buttonScore" class="buttonClick fitImg"><img alt="Replay" src="/assets/button_score.png" /></li>
            </ul>
        </div> --}}
    </div>

    <div class="option singleOption" style="margin-left: 45%;">
        <ul>
            <li id="buttonReplay" class="buttonClick fitImg" onclick="goHome()"><img alt="Replay" src="/assets/button_replay.png" /></li>
            <li id="buttonSave" class="buttonClick fitImg"><img alt="Replay" src="/assets/button_save.png" /></li>
            <li id="buttonScore" class="buttonClick fitImg"><img alt="Replay" src="/assets/button_score.png" /></li>
        </ul>
    </div>
</div>